{
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "extends": "airbnb-base",
    "plugins": [
    ],
    "env": {
        "jquery": true,
        "browser": true,
        "amd": true
    },
    "globals": {
        "oj": true,
        "jasmine": true
    },
    "rules": {
        "indent": ["error", 4],
        "import/no-amd": 0,
        "prefer-destructuring": 1,
        "no-console": 2,
        "comma-dangle": "off",
        "func-names": "off",
        "linebreak-style": "off",
        "no-use-before-define": ["error", { "functions": false, "classes": true }],
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "no-underscore-dangle": "off",
        "vars-on-top": "off",
        "max-len": ["error", 130, 2, {
            "ignoreUrls": true,
            "ignoreComments": true,
            "ignoreRegExpLiterals": true,
            "ignoreStrings": true,
            "ignoreTemplateLiterals": true
        }]
    }
  }